.Dropdown {
    background-color: transparent;
    width: 180px;
    height: 47px;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    border: 1px solid #6b6b6b;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
}

.Dropdown button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-weight: normal;
    font-weight: 300;
    font-size: 1.0rem;
    font-family: 'Open Sans', sans-serif;
}

.Dropdown img {
    height: 7px;
}

.Dropdown:hover, .Dropdown:focus {
    border: 1px solid white;
}

.dropdown-content {
    display: none;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.834);
    background-color: #424E59;
    position: absolute;
    top: 101%;
    left: 0;
    border-radius: 5px;
}

.Dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    padding-left: 15px;
    display: flex;
    cursor: pointer;
}

.dropdown-content button:hover {
    color: #FFFFFF;
    background-color: #57616B;
}

.Dropdown span {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        font-size: 1.0rem;
        pointer-events: none;
        transform: translateY(-50%) scale(0.6);
        margin-left: -20px;
        background-color: #202C36;
        padding: 12px;
}