.country-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 50px;
}

.country_flag {
    width: 100%;
}

.country_flag img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
}

.country_name_info_borders {
 display: flex;
 flex-direction: column;
 gap: 20px;
 max-width: 600px;
}

.country_name {
    font-size: 3rem;
    font-weight: 400;
}

.country_name_info {
    display: flex;
    flex-direction: column;
}

.country_info_text {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    gap: 60px;
}

.single_line_info_text {
    padding-bottom: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.border-countries {
    font-weight: 600;
    height:130px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.border-countries h4 {
    font-weight: 600;
    text-decoration: underline;
}
.snippets {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

@media only screen and (max-width: 900px) {
    .country-section{
        flex-direction: column;
    }
    .country_info_text {
        flex-direction: column;
        gap: 0px;
    }
  }