.country-page {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 50px auto;
    gap: 50px;
}

.go-back-button {
    font-weight: 300;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s;
}

.go-back-button:hover {
    background-color: #3e4a55a2;
}

.go-back-button img {
    height: 8px;
}

.country-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 50px;
}

.img-tag {
    background-color: yellow;
    height: 300px;
    width: 400px;
}

.overall-country-info {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 max-width: 500px;
}

.country-info div {
    display: flex;
    justify-content: space-between;
}

.right-text-section, .left-text-section {
    width: 250px;
}

.border-countries {
    font-weight: 600;
    height:130px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.border-countries h4 {
    font-weight: 600;
    text-decoration: underline;
}
.snippets {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}