.Home {
    margin: 50px auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: none;
    padding: 20px;
}

.search {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.card-layout {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .Home {
      margin: 0px auto
    }
    .search {
      flex-direction: column;
      gap: 20px;
    };
  }