.Home {
    margin: 50px auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: none;
    max-width: 1400px;
}

.search {
    display: flex;
    justify-content: space-between;

}

.card-layout {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}