.SearchBar {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
}

.search-field {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.search-field:focus {
    outline: none;
    background-color: #f6f6f6;
    
}