.home-layout {
    margin: 50px auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: none;

}

.search {
    display: flex;
    justify-content: space-between;

}