header {
    background-color: #3E4A55;
    display: flex;
    justify-content: center;
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 1400px;
  }
  
  .navbar a {
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar img {
    height: 20px;
    pointer-events: none;
  }
  
  .dark-light-mode {
    border: none;
    background-color: transparent;
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
    height: 30px;
    border-radius: 7px;
    transition: all 0.2s;
  }
  
  .dark-light-mode p {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: larger;
  }
  
  .dark-light-mode:hover {
    cursor: pointer;
    box-shadow: rgba(253, 253, 253, 0.3) 0px 0px 5px 5px;
  }
  