.CountryCard {
  width: 300px;
  border-radius: 4px;
  background-color: rgb(43, 56, 68);
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.11),
    rgba(255, 255, 255, 0.11)
  );
}

.CountryCard:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.flag img {
  height: 150px;
  width: 300px;
  border-radius: 4px 4px 0px 0px;
  object-fit: fill;
  pointer-events: none;
}

.country_card_name {
  color: white;
  font-size: 1rem;
}

.text-section {
  padding: 16px;
  color: rgba(255, 255, 255, 0.775);
  font-size: 15px;
}

.text-section div {
  display: flex;
  align-items: center;
  gap: 5px;
}