.CountryCard {
  height: 300px;
  border-radius: 4px;
  background-color: var(--card-color);
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.11),
    rgba(255, 255, 255, 0.11)
  );
}

.CountryCard:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.flag img {
  height: 150px;
  width: 300px;
  border-radius: 4px 4px 0px 0px;
  object-fit: fill;
  pointer-events: none;
}

.country_card_name {
  color: var(--primary-color);
  font-size: 1rem;
  line-height: 1;
}

.text-section {
  padding: 16px;
  color: var(--secondary-color);
  font-size: 15px;
}

.text-section div {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Loading state CSS */
#loading_img {
  background-color: var(--skeletonOne-color);
  height: 150px;
  width: 300px;
  border-radius: 4px 4px 0px 0px;
  object-fit: fill;
  pointer-events: none;
  animation: skeleton-loading 1s linear infinite alternate;
}

.loading_text_section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px;
}

.loading {
  background-color: var(--skeletonOne-color);
  width: 150px;
  height: 12px;
  border-radius: 5px;
  animation: skeleton-loading 1s linear infinite alternate;
}

#country_name {
  height: 18px;
  width: 120px;
}

#capital {
width: 130px;
}

#population {
width: 160px;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--skeletonOne-color);
  }
  100% {
    background-color: var(--skeletonTwo-color);
  }
}